{{define "nav"}}
<nav>
  <a href="/" class="title">
    <div class="logo"></div>
    <h1>Libra</h1>
  </a>
  <ul>
    <li>
      <a
        target="_blank"
        href="https://github.com/OpenClassrooms-Student-Center/8431896-optimisez-votre-deploiement-en-creant-des-conteneurs-avec-docker"
        >Github ↗</a
      >
    </li>
  </ul>
</nav>
{{ end }}
